html {
  text-size-adjust: 100%;
}

body {
  font: 13px helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.4em;
    background-color: #fff;
    color: #333333;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 15 20;
}

h1 {
  background-image: url('./images/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  margin: 0;
  padding: 0;
}

nav {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

li {
  margin: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body div.pic {
  width: 446px;
}

.pic img {
  border-radius: 3px;
  display: block;
  border: solid #cacaca;
  background: #fff;
  text-align: center;
  overflow: hidden;
  border-width: 1px;
  line-height: 0px;
  margin: 0 9 0 9;

}

div.pic a.preview img {
  margin: 10px;
    width: 424px;
    height: 424px;
    max-width: 424px;
    max-height: 424px;
}

main .pic-info {
  font-size: 16px;
  color: #666;
  font-weight: bold;
  text-align: right;
  padding: 12px 0 12px 0;
  margin: 0 12px 22px;
  border-bottom: 1px solid #cacaca;
  position: relative ;
}

main div.pic-info p.number {
  float: left;
  margin: 5px 0 0 0;
  color: #cacaca;
}

span {
  color: #777;
}

div.pics-area div.pic-info p.cat-name {
  display: inline-block;
  margin: 0px 5px 0px 0px;
}

footer {
  display: flex;
}
